{% extends 'base.html' %}

{% block title %}Портфолио{% endblock %}

{% block content %}
    <div class="educator-block">
        <h2>Шадрина Татьяна Генадьевна</h2>
        <p class="city">г. Невьянск</p>
        <div class="inf-and-photo">
            <img class="educator" src="../../static/elements/фото%20воспитателя.jpg" alt="" width="326" height="308">
            <div class="information">
                <h3>4 главных моих качества:</h3>
                <ul class="quality">
                    <li class="quality-item">
                        порядочность
                    </li>
                    <li class="quality-item">
                        доброжелательность
                    </li>
                    <li class="quality-item">
                        сдержанность
                    </li>
                    <li class="quality-item">
                        честность
                    </li>
                </ul>
            </div>
        </div>
        <p class="quote1">“Воспитатель сам должен быть тем,</p>
        <p class="quote2"> кем он хочет сделать воспитанников”</p>
    </div>
{% endblock %}
