{% extends 'base.html' %}

{% block content %}
<main>
    <link rel="stylesheet" href="../../static/styles/placeholder.css">
    <div class="method-box">
        <div class="method-title general-title">Методическая копилка</div>
        <div class="method-sort">
            <div class="method-sort-content">
                <div class="sort-item sort-bold">Сортировать по:</div>
                <div class="sort-item"><a href="#">Популярности</a></div>
                <div class="sort-item">
                    <form method="post" id="sort-by-date-form">
                        {% csrf_token %}
                        <input type="hidden" name="sort_by" value="date">
                        <a href="#" onclick="document.getElementById('sort-by-date-form').submit();" style="color: black; text-decoration: none">Дате</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="method-files">
            {% for resource in methodological_resources %}
            <div class="method-files-item">
                <div class="files-item-title">{{ resource.title }}</div>
                <div class="files-item-doc">
                    <div class="files-img"><img src="../../static/elements/значок файла.svg"></div>
                    <div class="files-link"><a href="{{ resource.file.url }}">{{ resource.file }}</a></div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
