{% extends 'base.html' %}
{% block content %}
    <link href="https://fonts.cdnfonts.com/css/tt-travels-trl?styles=151876,151875,151865,151866,151863,151864,151867,151868"
          rel="stylesheet">
    <link rel="stylesheet" href="../../static/styles/placeholder.css">
    <main>

        <div class="reward-box">
            <div class="reward-content ">
                <div class="reward-title general-title">Конкурсы и награды</div>
                <div class="reward-message">
                    <div class="reward-message-item"><img src="../../static/elements/сертификат 1.png" alt=""></div>
                    <div class="reward-message-item"><img src="../../static/elements/благодарственное пиьсмо 1.png"
                                                          alt=""></div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}